<!--header-->
<div class="base-sortable-header">
	<div style="margin-right: 10px;" class="section-move-handle pull-left"><i class="fa fa-arrows" aria-hidden="true"></i></div>
	<div class="section-name-display pull-left">{{ subsection.name }}</div>
	<div class="section-open-close pull-right">			
		<div ng-if="subsection.opened == true" class="section-open" ng-click="closeSubSection($event, subsection)"><span><i class="fa fa-chevron-up" aria-hidden="true"></i></span></div>
		<div ng-if="subsection.opened == false" class="section-open" ng-click="openSubSection($event, subsection)"><span><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
	</div>
	<div class="remove-section pull-right" style="display: block;" ng-click="removeSubSection($event, subsection)">
		<i class="fa fa-trash-o" aria-hidden="true"></i>
	</div>
	<div class="clearfix"></div>
</div>
<!--/header-->

<!--sortable content-->
<div class="base-sortable-content" ng-class="{'section-content-no-border': subsection.opened != true}">
	<div class="base-sortable-content-inside" ng-class="{'section-content-close': subsection.opened != true}">
		<div class="row">
      		<div class="col s4">
      			<p class="input-top-label">Skill</p>
      			<input placeholder="Skill/Ex: Programming" type="text" ng-model="subsection.name" />
      		</div>
      		<div class="col s6 disabled-ready-container">
      			<p class="input-top-label">Proficiency</p>
                        <p class="range-field html-range-ui">
      			   <input type="range" ng-model="subsection.proficiency" min="0" max="100" />
                        </p>
      		</div>
                  <div class="col s2">
                        <p class="input-top-label">Percent</p>
                        <input style="float: left; width: 35px;" type="text" ng-model="subsection.proficiency" />
                        <span style="float: left; margin-top: 12px; margin-left: 10px;">%</span>
                        <div class="clearfix"></div>
                  </div>
      	</div>      	
	</div>
</div>
<!--/sortable content-->			
