<ul class="clearlist scroll-nav local-scroll">
    <li class="active"><a href="/#home">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#cv-templates">CV Templates</a></li>
</ul>