
<div class="default-section">
	<div class="row">
		<div>

			
			<div class="apollo-panel-content">
				<p class="panel-title pull-left">Users</p>
				<div class="pull-right" style="font-size: 14px; color: #5f5f5f;">Showing {{users.length}} of {{totalUsers}}</div>
				<div class="clearfix"></div>
				<div class="apollo-line"></div>
				<div class="panel-content">

					
					<div class="my-ac-panel-section">
						<user-listing class="job-listing" ng-repeat="user in users" user="user"></user-listing>

						<div ng-if="users.length > 0 && !isSearching && !allLoaded" class="job-listing-loadmore">
							<a ng-click="loadMore($event)" class="apollo-base-button apollo-success-button apollo-small-button pull-left" href="#"><i style="margin-right: 10px;" class="fa fa-spinner" aria-hidden="true"></i>Load more</a>
						</div>						
					</div>
					
										
				</div>
			</div>
			

		</div>


	</div>
</div>