<!--header-->
<div class="base-sortable-header">
	<div style="margin-right: 10px;" class="section-move-handle pull-left"><i class="fa fa-arrows" aria-hidden="true"></i></div>
	<div class="section-name-display pull-left">{{ subsection.name }}</div>
	<div class="remove-section pull-right" style="display: block; margin-left: 15px; width: 20px;" ng-click="removeSubSection($event, subsection)">
		<i class="fa fa-trash-o" aria-hidden="true"></i>
	</div>
	<div class="clearfix"></div>
</div>
<!--/header-->
