<!--header-->
<div class="base-sortable-header">
	<div style="margin-right: 10px;" class="section-move-handle pull-left"><i class="fa fa-arrows" aria-hidden="true"></i></div>
	<div class="section-name-display pull-left">{{ subsection.company }}</div>
	<div class="section-open-close pull-right">			
		<div ng-if="subsection.opened == true" class="section-open" ng-click="closeSubSection($event, subsection)"><span><i class="fa fa-chevron-up" aria-hidden="true"></i></span></div>
		<div ng-if="subsection.opened == false" class="section-open" ng-click="openSubSection($event, subsection)"><span><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
	</div>
	<div class="remove-section pull-right" style="display: block;" ng-click="removeSubSection($event, subsection)">
		<i class="fa fa-trash-o" aria-hidden="true"></i>
	</div>
	<div class="clearfix"></div>
</div>
<!--/header-->

<!--sortable content-->
<div class="base-sortable-content" ng-class="{'section-content-no-border': subsection.opened != true}">
	<div class="base-sortable-content-inside" ng-class="{'section-content-close': subsection.opened != true}">	
		<div class="row">
      		<div class="col s3">
      			<input type="text" name="" ng-model="subsection.company" placeholder="Company">
      		</div>
      		<div class="col s3">
      			<input type="text" name="" ng-model="subsection.person_name" placeholder="Person name">
      		</div>
                  <div class="col s3">
                        <input type="text" name="" ng-model="subsection.person_title" placeholder="Person title">
                  </div>                  
                  <div class="col s3">
                        <input type="text" name="" ng-model="subsection.contact" placeholder="Contact">
                  </div>                  
      	</div>
            <div class="row">
                  <div class="col s12">
                        <textarea class="subsection-txa" placeholder="About/description" ng-model="subsection.about"></textarea>
                  </div>                  
            </div>     	
	</div>
</div>
<!--/sortable content-->			
