<!--header-->
<div class="base-sortable-header">
	<div style="margin-right: 10px;" class="section-move-handle pull-left"><i class="fa fa-arrows" aria-hidden="true"></i></div>
	<div class="section-name-display pull-left">{{ subsection.name }}</div>
	<div class="section-open-close pull-right">			
		<div ng-if="subsection.opened == true" class="section-open" ng-click="closeSubSection($event, subsection)"><span><i class="fa fa-chevron-up" aria-hidden="true"></i></span></div>
		<div ng-if="subsection.opened == false" class="section-open" ng-click="openSubSection($event, subsection)"><span><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
	</div>
	<div class="remove-section pull-right" style="display: block;" ng-click="removeSubSection($event, subsection)">
		<i class="fa fa-trash-o" aria-hidden="true"></i>
	</div>
	<div class="clearfix"></div>
</div>
<!--/header-->

<!--sortable content-->
<div class="base-sortable-content" ng-class="{'section-content-no-border': subsection.opened != true}">
	<div class="base-sortable-content-inside" ng-class="{'section-content-close': subsection.opened != true}">	
		<div class="row">
      		<div class="col s6">
      			<input type="text" name="" ng-model="subsection.name" placeholder="Company/name">
      		</div>
      		<div class="col s6">
      			<input type="text" name="" ng-model="subsection.speciality" placeholder="Position">
      		</div>
      	</div>
		<div class="row">
      		<div class="col s4">
      			<p class="input-top-label">From</p>
      			<input placeholder="From" type="text" ng-model="subsection.start_time" pick-a-date="subsection.start_time | date" />
      		</div>
      		<div class="col s4 disabled-ready-container">
      			<p class="input-top-label">To</p>
      			<input ng-class="{'input-disabled': subsection.end_time_present}" placeholder="To" type="text" ng-model="subsection.end_time" pick-a-date="subsection.end_time | date" />
      			<div ng-class="{'input-disabled-hover-ui': subsection.end_time_present === true}"></div>
      		</div>
      		<div class="col s4">
      			<p class="input-top-label">To present</p>
      			<div class="checkbox-entry">
	  				<input type="checkbox" id="{{subsection.ids}}_present" checked="checked" ng-model="subsection.end_time_present" />
	      			<label for="{{subsection.ids}}_present">Is present</label>
      			</div>
      		</div>      		
      	</div>
            <div class="row">
                  <div class="col s8">
                        <textarea class="subsection-txa" placeholder="About/description" ng-model="subsection.about"></textarea>
                  </div>
                  <div class="col s4">
                        <p class="input-top-label">Company URL</p>
                        <input placeholder="Company/url" type="text" ng-model="subsection.company_url" />
                  </div>
            </div>    	
	</div>
</div>
<!--/sortable content-->			
